.pinform-page-container {
    display: flex;
    /* width: 100%; */
    height: 100%;
    /* height: 100vh; */
    width: 100vw;
    justify-content: space-around;
    /* border: 1px solid blue; */
}

.left-column {
    width: 70px;
    border-right: 1px solid black;
    
}

.form-container {
    
    /* width: 800px; */
        

}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.image-upload-section {
    width: 300px;
    height: 500px;
    background-color: aqua;
    margin: 25px;
    border-radius: 32px;
}

.form-content {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.publish-button {
    background-color: rgb(230, 0, 35);
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-style: none;
    border-radius: 20px;
    width: 75px;
    height: 40px;
    margin-top: 8px;
    cursor: pointer;
}

.pinform-input-label {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: 4px;
    margin-bottom: 4px;
}

.pinform-input {
    height: 42px;
    width: 268px;
    border:2px solid rgb(205, 205, 205);
    border-radius: 16px;
    font-size: 16px;  
}
