.pin-status {
    /* align-self: center; */
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: flex-start;
}

.pin-count {
    margin-left: 30px;
}

.all-pins{
    display: flex;
    /* border: 1px solid blue; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* flex: 1 1 auto; */
}